#cor {
  position: absolute;
}

.cor_text {
  margin: 30px;
  color:white;
}

#code_in {
  color: black;
  background-color: darkturquoise;
}


#defaultCanvas0 {
    display: inline;
    z-index: -1;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  right: 8px;
  /* bottom: 23px;
  right: 28px;
  width: 280px; */
}

#explain {
  position:fixed;
  right: 90px;
}

#reset {
  right: 180px;
}

.form-popup {
  display: none;
  position: fixed;
  right: 8px;
  /* bottom: 0;
  right: 15px; */
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 350px;
  max-height: 700px;
  opacity: 1;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text]{
  width: 100%;
  padding: 15px;
  /* margin: 5px 0 22px 0; */
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

.form-container #submit {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container #cancel {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8; 
  width: 100px;
}
.form-container #clear_history {
  background-color: gray; 
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8; 
  width: 150px;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#h2 {
    display: inline;
}

#history {
  width: 100%;
  height: 500px;
  overflow: scroll;
}

#alert_icon {
  width: 5%;
  display: inline;
}

#check_icon {
  width: 5%;
  display: inline;
}

p {
  display: inline-block;
}


#explain-popup {
  display: none;
  position: fixed;
  right: 8px;
  /* bottom: 0;
  right: 15px; */
  border: 3px solid #f1f1f1;
  z-index: 9;
}

#close_explain {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8; 
  width: 100px;
}

#explain_container {
  max-width: 350px;
  max-height: 700px;
  opacity: 1;
  padding: 10px;
  background-color: white;
}

.explain-btn {
  background-color: #555;
  color: white;
  padding: 16px 20px;
}