/* #up, #down, #left, #right {
    position: absolute;
    top: 100px;
}
#up {
    left: 20px;
}

#down {
    left: 40px;
}
#left {
    left: 60px;
}
#right {
    left: 80px;
} */

#defaultCanvas0 {
    display: inline;
    z-index: -1;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  right: 8px;
  /* bottom: 23px;
  right: 28px;
  width: 280px; */
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  right: 8px;
  /* bottom: 0;
  right: 15px; */
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 350px;
  max-height: 700px;
  opacity: 1;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text]{
  width: 100%;
  padding: 15px;
  /* margin: 5px 0 22px 0; */
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container #submit {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container #cancel {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8; 
  width: 100px;
}
.form-container #clear_history {
  background-color: gray; 
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8; 
  width: 150px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#h2 {
    display: inline;
}

#history {
  width: 100%;
  height: 500px;
  overflow: scroll;
}

#alert_icon {
  width: 5%;
  display: inline;
}

#check_icon {
  width: 5%;
  display: inline;
}

p {
  display: inline-block;
}

#explain {
  position: absolute;
  z-index: 3;
  display: inline;
}